$def with (game_id)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Hacksassins</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Hacksassins</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul> -->
            </li>
          </ul>
          <!-- <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="./">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li><a href="../navbar-fixed-top/">Fixed top</a></li>
          </ul> -->
        </div><!--/.nav-collapse -->
      </div>

      <table class="table">
      <tbody>
        <tr>
          <td class="pull-left">
            <h3>
              Game ID: $game_id
            </h3>
            <!--
            <h3>
              Active Players
            </h3>
            <p>
              Nobody has joined this game yet. :(
            </p>
          -->
            <div class="form-group">
            </div>
            <h3>
              Invite Players
            </h3>
            <!-- <a href="#" class="btn btn-default">Web Method</a> -->
            <!-- <div class="form-group">
              <label>
                <span style="font-weight: normal;">Tell your friends to visit ourwebsite.com/join and enter the Game ID <strong>$game_id</strong> They'll be able to join the game from there.</span>
              </label>
            </div> -->
            <!-- <a href="#" class="btn btn-default">SMS Method</a> -->
            <div class="form-group">
              <b><span style="font-weight: normal;">Tell your friends to text <strong>$game_id</strong> to 1.661.667.4124. They'll be added to the game from there!</span></b>
              <br>
            </div>
          </td><!--
          <td class="pull-left">
            <div class="form-group">
            </div>
            <h3>
              Settings
            </h3>
            <div class="form-group">
            </div>
            <label>
              <div>
                <span style="line-height: 1.428571429; background-color: transparent;">Maximum Players:</span>
                <br>
              </div>
            </label>
            <div class="form-group">
              <select class="form-control">
                <option value="10">
                  10
                </option>
                <option value="15">
                  15
                </option>
                <option value="20">
                  20
                </option>
                <option value="25">
                  25
                </option>
                <option value="30">
                  30
                </option>
                <option value="35+">
                  35+
                </option>
              </select>
            </div>
            <label class="pull-left">
              Start Time:
            </label>
            <div class="form-group">
              <select class="form-control">
                <option value="8">
                  8:00AM
                </option>
                <option value="9">
                  9:00AM
                </option>
                <option value="10">
                  10:00AM
                </option>
                <option value="11">
                  11:00AM
                </option>
                <option value="12">
                  12:00PM
                </option>
                <option value="13">
                  1:00PM
                </option>
                <option value="14">
                  2:00PM
                </option>
                <option value="15">
                  3:00PM
                </option>
                <option value="16">
                  4:00PM
                </option>
                <option value="17">
                  5:00PM
                </option>
                <option value="18">
                  6:00PM
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>
                Time Limit:
              </label>
              <select class="form-control">
                <option value="pizza">
                  Pizza
                </option>
                <option value="salad">
                  Salad
                </option>
                <option value="pizzasalad">
                  Pizza and Salad
                </option>
              </select>
            </div>
          </td> -->
        </tr>
        <tr>
          <td>
            <a href="/start/$game_id" class="btn btn-default">Start Deathmatch</a>
          </td>
        </tr>
      </tbody>
    </table>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
