$def with (game_id)

<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
    </title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
  </head>
  
  <body>

    <div class="container">
       <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Hacksassins</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul> -->
            </li>
          </ul>
          <!-- <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="./">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li><a href="../navbar-fixed-top/">Fixed top</a></li>
          </ul> -->
        </div><!--/.nav-collapse -->
      </div>
      <div class="jumbotron">
        <h1>
          Deathmatch $game_id
        </h1>
        <p>
        </p>
        <div>
          <span style="line-height: 1.4; color: inherit;">Your Target: Nobody is your target yet!</span>
          <br>
          <div>
            <span style="line-height: 1.4; color: inherit;"><br></span>
          </div>
        </div>
        <p>
        </p>
        <p>
          <a class="btn btn-primary btn-lg" href="/kill">Successful Kill</a>
          <!-- <a class="btn btn-primary btn-lg" href="/activation">Activate Phone</a> -->
          <a class="btn btn-primary btn-lg pull-right" href="/leave">Leave Game</a>
        </p>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
    </script>
    <!-- <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Your Stats
        </h3>
      </div>
      <div class="panel-body">
        Your number of kills: #
        <div>
          Your fastest kill: # seconds
        </div>
        <div>
          Your slowers kill: # units
        </div>
        <div>
          You've been on the hunt for ## units
        </div>
        <div>
          Current Rank: #
        </div>
        <div>
          Your kills: Name, Name2, Name3, Name4
        </div>
      </div>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <td>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Leader Board
                </h3>
              </div>
              <div class="panel-body">
                1. Name&nbsp;
                <div>
                  2. Name
                </div>
                <div>
                  3. Name
                </div>
                <div>
                  4. Name
                </div>
                <div>
                  5. Name
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Live Feed
                </h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table> -->
  </body>

</html>

