<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">
    <title>
      Starter Template for Bootstrap
    </title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="screen-43e30c5b1d.html">Home</a>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
    <!-- /.container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
    </script>
    <div class="container">
      <div class="jumbotron">
        <h1>
          Deathmatch Dashboard
        </h1>
        <p>
        </p>
      </div>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <td class="pull-left">
            <h3>
              Active Players
            </h3>
            <div class="form-group">
            </div>
            <h3>
              Invite Players
            </h3>
            <a href="#" class="btn btn-default">Web Method</a>
            <div class="form-group">
              <label>
                <span style="font-weight: normal;">Tell your friends to visit ourwebsite.com/###. They'll be able to join the game from there.</span>
              </label>
            </div>
            <a href="#" class="btn btn-default">SMS Method</a>
            <div class="form-group">
              <b><span style="font-weight: normal;">Tell your friends to text ### to 12345. They'll be added to the game from there!</span></b>
              <br>
            </div>
          </td>
          <td class="pull-left">
            <div class="form-group">
            </div>
            <h3>
              Settings
            </h3>
            <div class="form-group">
            </div>
            <label>
              <div>
                <span style="line-height: 1.428571429; background-color: transparent;">Maximum Players:</span>
                <br>
              </div>
            </label>
            <div class="form-group">
              <select class="form-control">
                <option value="pizza">
                  Pizza
                </option>
                <option value="salad">
                  Salad
                </option>
                <option value="pizzasalad">
                  Pizza and Salad
                </option>
              </select>
            </div>
            <label class="pull-left">
              Start Time:
            </label>
            <div class="form-group">
              <select class="form-control">
                <option value="8">
                  8:00AM
                </option>
                <option value="9">
                  9:00AM
                </option>
                <option value="10">
                  10:00AM
                </option>
                <option value="11">
                  11:00AM
                </option>
                <option value="12">
                  12:00PM
                </option>
                <option value="13">
                  1:00PM
                </option>
                <option value="14">
                  2:00PM
                </option>
                <option value="15">
                  3:00PM
                </option>
                <option value="16">
                  4:00PM
                </option>
                <option value="17">
                  5:00PM
                </option>
                <option value="18">
                  6:00PM
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>
                Time Limit:
              </label>
              <select class="form-control">
                <option value="pizza">
                  Pizza
                </option>
                <option value="salad">
                  Salad
                </option>
                <option value="pizzasalad">
                  Pizza and Salad
                </option>
              </select>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <tbody>
        <tr>
        </tr>
      </tbody>
    </table>
  </body>
</html>