<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
    </title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
  </head>
  
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>
          Deathmatch ####
        </h1>
        <p>
        </p>
        <div>
          <span style="line-height: 1.4; color: inherit;">Your Target: Cinderella</span>
          <br>
          <div>
            <span style="line-height: 1.4; color: inherit;"><br></span>
          </div>
        </div>
        <p>
        </p>
        <p>
          <a class="btn btn-primary btn-lg" href="#">Successful Kill</a>
          <a class="btn btn-primary btn-lg pull-right" href="#">Leave Game</a>
        </p>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
    </script>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Your Stats
        </h3>
      </div>
      <div class="panel-body">
        Your number of kills: #
        <div>
          Your fastest kill: # seconds
        </div>
        <div>
          Your slowers kill: # units
        </div>
        <div>
          You've been on the hunt for ## units
        </div>
        <div>
          Current Rank: #
        </div>
        <div>
          Your kills: Name, Name2, Name3, Name4
        </div>
      </div>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <td>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Leader Board
                </h3>
              </div>
              <div class="panel-body">
                1. Name&nbsp;
                <div>
                  2. Name
                </div>
                <div>
                  3. Name
                </div>
                <div>
                  4. Name
                </div>
                <div>
                  5. Name
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Live Feed
                </h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>

</html>

